<h1>Create a new user</h1>

<form class="" action=" <%= new_user_url %> " method="post">
  <label for="username">Username: </label>
  <input type="text" name="user[username]" value="">

  <label for="password">Password: </label>
  <input type="password" name="user[password]" value="">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
  <input type="submit" value = "Create User">
</form>
